# Entornos virtuales
venv/
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Datos generados 
data/source/
data/bronze/
data/silver/
data/gold/

# Logs
logs/
*.log

# Sistema Operativo
.DS_Store
Thumbs.db